@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container marketing" style="text-align: center; padding-bottom: 50px; background-color: #F4ECF7 ;">
    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Skillzshop</h1>
                <p class="lead text-muted">Looking for a skill to learn? You came to the right place! We offer you skillsets you can buy and learn.</p>
                <p>
                    <a class="btn btn-primary my-2" asp-area="Identity" asp-page="/Account/Register">Register Now</a>
                    <a class="btn btn-secondary my-2" asp-controller="Skills" asp-action="Index">See All Skills</a>
                </p>
            </div>
        </div>
    </section>

    <div class="row">

        <div class="card shadow-sm" style="padding: 50px; background-color: #fafafa;">
            <h2 class="fw-normal" style="padding-bottom: 50px;">Skillset Categories</h2>
            <div class="row align-content-center">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4" style="margin-bottom: 40px;">
                            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" style="padding-bottom: 20px;" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                            <h2 class="fw-normal">@Html.DisplayFor(model => item.Name)</h2>
                            <p>@Html.DisplayFor(model => item.Description)</p>
                            <p><a class="btn btn-secondary" href="#">Show Skillsets &raquo;</a></p>
                        </div>
                    }
                }
            </div>
        </div>

    </div>

</div>